Map/VisualStudio/MapDataProcessing/XmlMapData.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:element name="mapData" type="XmlMapData" />
  <xsd:complexType name="XmlMapData">
    <xsd:sequence>
      <xsd:element name="parameters" type="XmlParameters" maxOccurs="1" minOccurs="1" />
      <xsd:element name="resolutionList" type="XmlResolutionList" maxOccurs="1" minOccurs="1" />
      <xsd:element name="lookList" type="XmlLookList" maxOccurs="1" minOccurs="1" />
      <xsd:element name="elementList" type="XmlElementList" maxOccurs="1" minOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="XmlParameters">
    <xsd:sequence>
      <xsd:element name="languageList" type="XmlLanguageList" maxOccurs="1" minOccurs="1" />
      <xsd:element name="mapName" type="XmlElementName" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="mapId" type="XmlMapId" use="required" />
    <xsd:attribute name="logFileName" type="xsd:string" use="required" />
    <xsd:attribute name="fileLogLevel" type="XmlLogLevelEnum" use="required" />
    <xsd:attribute name="consoleLogLevel" type="XmlLogLevelEnum" use="required" />
    <xsd:attribute name="databaseName" type="xsd:string" use="required" />
    <xsd:attribute name="kmlDir" type="xsd:string" use="required" />
    <xsd:attribute name="maxConnectionDistanceInKm" type="xsd:double" use="required"/>
    <xsd:attribute name="projection" type="XmlProjectionEnum" use="required"/>
    <xsd:attribute name="zoomMinDistance" type="PositiveDouble" use="required" />
    <xsd:attribute name="zoomMaxDistance" type="PositiveDouble" use="required" />
    <xsd:attribute name="resolutionThreshold" type="PositiveDouble" use="required" />
    <xsd:attribute name="sizeParameter1" type="PositiveDouble" use="required" />
    <xsd:attribute name="sizeParameter2" type="PositiveDouble" use="required" />
  </xsd:complexType>
  <xsd:simpleType name="XmlProjectionEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ORTHOGRAPHIC" />
      <xsd:enumeration value="MERCATOR" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="XmlLanguageList">
    <xsd:sequence>
      <xsd:element name="language" type="XmlLanguage" minOccurs="1" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="XmlLanguage">
    <xsd:sequence></xsd:sequence>
    <xsd:attribute name="id" type="XmlLanguageId" use="required" />
    <xsd:attribute name="name" type="xsd:string" use="required" />
  </xsd:complexType>
  <xsd:simpleType name="XmlLanguageId">
    <xsd:restriction base="xsd:ID">
      <xsd:enumeration value="fr" />
      <xsd:enumeration value="en" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="XmlLanguageIdRef">
    <xsd:restriction base="xsd:IDREF">
      <xsd:enumeration value="fr" />
      <xsd:enumeration value="en" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="XmlMapId">
    <xsd:restriction base="xsd:ID">
      <xsd:pattern value="_(.)+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="XmlLogLevelEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NO_LOG" />
      <xsd:enumeration value="ERROR" />
      <xsd:enumeration value="WARNING" />
      <xsd:enumeration value="MESSAGE" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="XmlResolutionList">
    <xsd:sequence>
      <xsd:element name="resolution" type="XmlResolution" minOccurs="1" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="XmlResolution">
    <xsd:sequence/>
    <xsd:attribute name="outputDir" type="xsd:string" use="required" />
    <xsd:attribute name="sampleLength1" type="xsd:double" use="required" />
    <xsd:attribute name="sampleRatio" type="xsd:integer" use="required" />
    <xsd:attribute name="smoothingWidth" type="xsd:integer" use="required" />
  </xsd:complexType>
  <xsd:complexType name="XmlLookList">
    <xsd:sequence>
      <xsd:element name="polygonLookList" type="XmlPolygonLookList" minOccurs="1" maxOccurs="1" />
      <xsd:element name="lineLookList" type="XmlLineLookList" minOccurs="1" maxOccurs="1" />
      <xsd:element name="pointLookList" type="XmlPointLookList" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="XmlPolygonLookList">
    <xsd:sequence>
      <xsd:element name="polygonLook" type="XmlPolygonLook" minOccurs="1" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="XmlLineLookList">
    <xsd:sequence>
      <xsd:element name="lineLook" type="XmlLineLook" minOccurs="1" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="XmlPointLookList">
    <xsd:sequence>
      <xsd:element name="pointLook" type="XmlPointLook" minOccurs="1" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="XmlPolygonLook">
    <xsd:sequence/>
    <xsd:attribute name="id" type="XmlPolygonLookId" use="required" />
    <xsd:attribute name="contourZIndex" type="xsd:nonNegativeInteger" use="required"/>
    <xsd:attribute name="contourAlpha" type="xsd:unsignedByte" use="required"/>
    <xsd:attribute name="contourRed" type="xsd:unsignedByte" use="required"/>
    <xsd:attribute name="contourGreen" type="xsd:unsignedByte" use="required"/>
    <xsd:attribute name="contourBlue" type="xsd:unsignedByte" use="required"/>
    <xsd:attribute name="contourSize" type="PositiveDouble" use="required" />
    <xsd:attribute name="fillLightRatio" type="RatioType" use="required" />
    <xsd:attribute name="fillZIndex" type="xsd:nonNegativeInteger" use="required" />
    <xsd:attribute name="textAlpha" type="xsd:unsignedByte" use="required"/>
    <xsd:attribute name="textRed" type="xsd:unsignedByte" use="required"/>
    <xsd:attribute name="textGreen" type="xsd:unsignedByte" use="required"/>
    <xsd:attribute name="textBlue" type="xsd:unsignedByte" use="required"/>
    <xsd:attribute name="textSize" type="PositiveDouble" use="required" />
  </xsd:complexType>
  <xsd:complexType name="XmlLineLook">
    <xsd:sequence/>
    <xsd:attribute name="id" type="XmlLineLookId" use="required" />
    <xsd:attribute name="lineZIndex" type="xsd:nonNegativeInteger" use="required"/>
    <xsd:attribute name="lineAlpha" type="xsd:unsignedByte" use="required"/>
    <xsd:attribute name="lineRed" type="xsd:unsignedByte" use="required"/>
    <xsd:attribute name="lineGreen" type="xsd:unsignedByte" use="required"/>
    <xsd:attribute name="lineBlue" type="xsd:unsignedByte" use="required"/>
    <xsd:attribute name="lineSize" type="PositiveDouble" use="required" />
    <xsd:attribute name="textAlpha" type="xsd:unsignedByte" use="required"/>
    <xsd:attribute name="textRed" type="xsd:unsignedByte" use="required"/>
    <xsd:attribute name="textGreen" type="xsd:unsignedByte" use="required"/>
    <xsd:attribute name="textBlue" type="xsd:unsignedByte" use="required"/>
    <xsd:attribute name="textSize" type="PositiveDouble" use="required" />
  </xsd:complexType>
  <xsd:complexType name="XmlPointLook">
    <xsd:sequence/>
    <xsd:attribute name="id" type="XmlPointLookId" use="required" />
    <xsd:attribute name="pointZIndex" type="xsd:nonNegativeInteger" use="required"/>
    <xsd:attribute name="pointAlpha" type="xsd:unsignedByte" use="required"/>
    <xsd:attribute name="pointRed" type="xsd:unsignedByte" use="required"/>
    <xsd:attribute name="pointGreen" type="xsd:unsignedByte" use="required"/>
    <xsd:attribute name="pointBlue" type="xsd:unsignedByte" use="required"/>
    <xsd:attribute name="pointSize" type="PositiveDouble" use="required" />
    <xsd:attribute name="textAlpha" type="xsd:unsignedByte" use="required"/>
    <xsd:attribute name="textRed" type="xsd:unsignedByte" use="required"/>
    <xsd:attribute name="textGreen" type="xsd:unsignedByte" use="required"/>
    <xsd:attribute name="textBlue" type="xsd:unsignedByte" use="required"/>
    <xsd:attribute name="textSize" type="PositiveDouble" use="required" />
  </xsd:complexType>
  <xsd:simpleType name="RatioType">
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="0" />
      <xsd:maxInclusive value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PositiveDouble">
    <xsd:restriction base="xsd:double">
      <xsd:minExclusive value="0" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="XmlElementList">
    <xsd:sequence>
      <xsd:element name="polygonElementList" type="XmlPolygonElementList" minOccurs="1" maxOccurs="1" />
      <xsd:element name="lineElementList" type="XmlLineElementList" minOccurs="1" maxOccurs="1" />
      <xsd:element name="pointElementList" type="XmlPointElementList" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="XmlPolygonElementList">
    <xsd:sequence>
      <xsd:element name="polygonElement" type="XmlPolygonElement" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="XmlLineElementList">
    <xsd:sequence>
      <xsd:element name="lineElement" type="XmlLineElement" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="XmlPointElementList">
    <xsd:sequence>
      <xsd:element name="pointElement" type="XmlPointElement" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="XmlPolygonElement">
    <xsd:sequence>
      <xsd:element name="name" type="XmlElementName"/>
      <xsd:element name="shortName" type="XmlElementName" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="XmlElementId" use="required" />
    <xsd:attribute name="look" type="XmlPolygonLookIdRef" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="XmlLineElement">
    <xsd:sequence>
      <xsd:element name="name" type="XmlElementName"/>
      <xsd:element name="shortName" type="XmlElementName" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="XmlElementId" use="required" />
    <xsd:attribute name="look" type="XmlLineLookIdRef" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="XmlPointElement">
    <xsd:sequence>
      <xsd:element name="name" type="XmlElementName"/>
      <xsd:element name="shortName" type="XmlElementName" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="XmlElementId" use="required" />
    <xsd:attribute name="look" type="XmlPointLookIdRef" use="required"/>
  </xsd:complexType>
  <xsd:simpleType name="XmlElementId">
    <xsd:restriction base="xsd:ID">
      <xsd:pattern value="e_(.)+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="XmlPolygonLookId">
    <xsd:restriction base="xsd:ID">
      <xsd:pattern value="pl_(.)+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="XmlPolygonLookIdRef">
    <xsd:restriction base="xsd:IDREF">
      <xsd:pattern value="pl_(.)+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="XmlLineLookId">
    <xsd:restriction base="xsd:ID">
      <xsd:pattern value="ll_(.)+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="XmlLineLookIdRef">
    <xsd:restriction base="xsd:IDREF">
      <xsd:pattern value="ll_(.)+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="XmlPointLookId">
    <xsd:restriction base="xsd:ID">
      <xsd:pattern value="tl_(.)+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="XmlPointLookIdRef">
    <xsd:restriction base="xsd:IDREF">
      <xsd:pattern value="tl_(.)+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="XmlElementName">
    <xsd:sequence>
      <xsd:element name="name" type="XmlName" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="XmlName">
    <xsd:sequence/>
    <xsd:attribute name="language" type="XmlLanguageIdRef" use="required"/>
    <xsd:attribute name="text" type="xsd:string" />
  </xsd:complexType>
</xsd:schema>
